{% block blockPageName %}{{ page.name }}{% endblock %}

{% block blockTitle %}{{ page.name }}{% endblock %}

{% block blockBody %}


<p>Ты вступаешь в реку,</p>
<p>Но река не остаётся прежней...</p>
<p>Этой web-страницы здесь уже нет.</p>

<img src="{{ pic.404 }}"/>
{% endblock %}