@color-backgroud-header: #0baf64;
//@color-backgroud-header: #0baf3d;
//@color-backgroud-header: #2c8a21;

html {
    font-size: 16px;
}

body {
    font: 100% Arsenal, Arial !important;                
    margin: 0;
    padding: 0;
    height: 100vh;
}

#header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin: 0;
    background-color: @color-backgroud-header;
    color: white;
    font-size: 1.3rem;
    
    .app {
        margin: 0 auto 0 0;
        display: flex;
        
        .app-name {
            transition: linear .05s;
            margin: 0;
            display: flex;
            
            .label {
                padding: 0 3px;
                margin: auto 0;
                
                @media (max-width: 400px) {
                    display: none;
                }
            }
            
            .icon {
                padding: 0 3px;
                margin: auto 0;
                
                @media (min-width: 401px) {
                    display: none;
                }
            }
            
            &:hover {
                //transition: linear 1.4s;
                background-color:  darken(@color-backgroud-header,2%);
            }
        }
        
        .page-name {
            transition: linear .05s;
            margin: 0;
            display: flex;
            
            .label {
                padding: 0 3px;
                margin: auto 0;
                
                @media (max-width: 250px) {
                    display: none;
                }
            }
            
            //@media (max-width: 250px) {
            //    display: none;
            //}
            
            &:hover {
                background-color:  darken(@color-backgroud-header,2%);
            }
        }
        
        .delimeter {
            margin: auto 10px;
            @media (max-width: 250px) {
                display: none;
            }
        }
    }
    
    .home {
        margin: auto 0 auto auto;
    }
    
    .user {
        margin : 0 0 0 10px;
        padding: 0 3px;
        display: flex;
        
        .icon {
            margin: auto 10px auto auto;
            font-size: 2.2rem;
        }
        
        .label {
            margin: auto 0;
            font-size: 1.5rem;
            @media (max-width: 550px) {
                display: none;
            }
        }
        
        .caret {
            margin: auto 0 auto 10px;
            font-size: 1rem;
        }
        
        &:hover {
            background-color:  darken(@color-backgroud-header,2%);
        }
    }
    
    a {
        color: white;
        text-decoration: none;
    }
}

#body {
    position: fixed;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 0;
}

#footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    color: white;
    background-color: #505050;
    text-align: center;
    font-size: 0.8rem;
    
    > div {
        margin : auto;
    }
}

@media (max-width: 1024px) {
    #header, #body, #footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1025px) {
    
    #header, #body, #footer {
        padding-left: 100px;
        padding-right: 100px;
    }
}

#wp {
    
    z-index: 99999;
    /*transition-property: top;*/
    /*transition-delay: 0s;*/
    /*transition: opacity 0.3s, visibility 0s linear 0.3s;*/
    transition: opacity .4s, visibility .2s linear .4s;
}