#-----------------------------------------------
#AuthType Basic
#AuthName "Cmatrix"
#AuthUserFile .htpasswd
#require valid-user

#-----------------------------------------------
DefaultLanguage ru
AddDefaultCharset UTF-8
php_value default_charset "UTF-8"

#-----------------------------------------------
<Files *.json>
    Deny from all
</Files>

#-----------------------------------------------
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /cmatrix

    # --- --- --- --- --- --- --- ---
    # Крайний слеш
    # если файл, то отбросить слеш
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(.*)(/)$ $1 [L,R=301]

    # если в url в конце нет слеша, то добавить
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteRule ^([^res].*[^/])$ $1/ [L,R=301]

    # непонятно
    #RewriteCond %{REQUEST_FILENAME} -d
    #RewriteRule ^(.*/[^\./]*[^/])$ $1/ [L]

    # --- --- --- --- --- --- --- ---
    # Check
    RewriteCond %{REQUEST_URI} (.*)/$
    RewriteRule ^(check) $1/index.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(check/index\.php)$ $1 [QSA,L]
    RewriteRule ^(check/.*\.)(php|js|css|less|png|jpg|gif|ttf|ico)$ $1$2 [L]

    # --- --- --- --- --- --- --- ---
    # Raw
    RewriteCond %{REQUEST_URI} (.*)/$
    RewriteRule ^(raw) $1/index.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(raw/index\.php)$ $1 [QSA,L]
    RewriteRule ^(raw/.*\.)(php|js|css|less|png|jpg|gif|ttf|ico)$ $1$2 [L]

    # --- --- --- --- --- --- --- ---
    # Resources
    RewriteCond %{REQUEST_URI} (.*)$
    RewriteRule ^(res/.*\..*)$ .cache/$1 [L]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule (robots\.txt|sitemap\.xml)$ $1 [L]
    RewriteRule ^(.cache/res/.*\..*)$ $1 [L]

#    # пропустить ресурсы без слеша в конце (к неверным ресурсам добавляется слеш)
#    RewriteRule ^(.*\module/.*/res/.*\..*)([^/])$ $1$2 [L]

    # --- --- --- --- --- --- --- ---
    # Global
    # Так не работает из-за невозможности запретить ресурсы, кроме вышеуказанных
    #RewriteCond %{REQUEST_URI} (.*)/$

    RewriteCond %{REQUEST_URI} (.*)$
    RewriteRule ^(.*)$ index.php?cmp=$1 [QSA,L]
</IfModule>
