.page {
    margin-top: 30px;
    text-align: center;
    font-size: 4.2rem;
}

.container {
    display: flex;
}

.container  .message {
    margin: auto 0 auto auto;
    font-size: 1.5rem;
}

.container .pic {
    margin: auto auto auto 0;
    height: 265px;
    width: 275px;
    display: flex;
}

.container .pic img {
    margin : auto;
}