#body {
    overflow-y: auto;
}

.browser .container{
    margin: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}

.browser .container > .info{
    font-size: 2rem;
    text-align: center;
    color: #505050;
}

.download {
    position : fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 30px;
    background-color: #797979;
    color: white;
    padding: 10px 0;
}

.download a {
    color: white;
}

.download .label {
    margin: 0 auto;
    font-size: 1.2rem;
}

.download .browsers {
    display: flex;
    margin: 0 auto;
    padding-top: 10px;
}

.download .browsers .browser {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.download .browsers .browser > i {
    font-size: 2rem;
    margin: auto;
}

.download .browsers .browser > span {
    margin-top: 10px;
}

.download .browsers .browser:hover {
    background-color: #686868;
}
